* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12.6rem;
    line-height: 14.8rem;
    font-weight: 500;
    color: #323238;
}

.hide {
    display: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

main {
    width: 84.1rem;
    height: 33.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timer {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.cards {
    width: 30.8rem;
    height: 33.6rem;
    display: grid;
    grid-template-columns: 13.8rem 13.8rem;
    grid-column-gap: 3.2rem;
}

.numbers {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.dark_mode {
    position: absolute;
    right: 6rem;
    top: 6rem;
    width: 4.4rem;
    height: 4.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.floresta2 img, .chuva2 img, .cafeteria2 img, .lareira2 img, .floresta_dark02 img, .chuva_dark02 img, .cafeteria_dark02 img, .lareira_dark02 img {
    position: absolute;
}

.slider {
    margin-left: 0.75rem;
    margin-top: 12.5rem;
    cursor: pointer;
    position: sticky;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 90%;
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: white;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.dark {
    color: white;
    background-color: black;
}