
/* Formataçõe Gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

/* Formatações de Containers Gerais */


body {
    font-family: 'Roboto', sans-serif;
    font-size: 12.6rem;
    line-height: 14.8rem;
    font-weight: 500;
    color: #323238;
}

.hide {
    display: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

main {
    width: 84.1rem;
    height: 33.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


/* Formataçõe de Elementos*/

.timer {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.cards {
    max-width: 30.8rem;
    max-height: 33.6rem;
    display: grid;
    grid-template-columns: 13.8rem 13.8rem;
    grid-column-gap: 3.2rem;
    animation-name: opening-cards;
    animation-duration: 1s;
}

.numbers {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    animation-name: opening-controls;
    animation-duration: 2s;
}

/* Formataçõe do Modo Dark e Sliders */

.dark_mode {
    position:absolute;
    right: 6rem;
    top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: opening-cards;
    animation-duration: 2s;
}



.floresta2 img, .chuva2 img, .cafeteria2 img, .lareira2 img, .floresta_dark02 img, .chuva_dark02 img, .cafeteria_dark02 img, .lareira_dark02 img {
    position: absolute;
}

.slider {
    margin-left: 0.75rem;
    margin-top: 12.5rem;
    cursor: pointer;
    position: sticky;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 90%;
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: white;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.dark {
    color: white;
    background-color: black;
}

/* Formataçõe de Animações, Hover e Media Screen */

.cards img:hover , .controls img:hover, .dark_mode img:hover {
    opacity: 0.8;
    cursor: pointer;
}

@keyframes opening-cards {
    from {
        opacity: 0.2;
        margin-bottom: 10rem;
    }

    to {
        opacity: 1;
        margin-bottom: 0;
    }
}

@keyframes opening-controls {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 920px){

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8rem;
    }

    .dark_mode {
        right: 3rem;
        top: 3rem;
    }
}